---
common_cookbooks: # cookbooks to include in every Berksfile even if metadata doesn't specify them
 - chef-solo-search
git_cookbooks: # cookbooks from git
 - 
  name: flapjack
  url: git://github.com/hw-cookbooks/flapjack.git
 -
  name: rabbitmq
  url: git://github.com/mgreensmith/rabbitmq.git
excluded_cookbooks: # local cookbooks for which we should not attempt to overwrite the existing Berksfile
 - jenkins
 - rbenv
 - wordpress
 - openvpn
